:root {
  --principalFont: "Poppins", sans-serif;
  --weightNormal: 400;
  --weightMedium: 500;
  --weightBold: 700;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.display-none {
  display: none;
}
