.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 500;
  padding: 50px 0;
}

.little-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 335px;
  margin: auto;
}

.pet-pic {
  width: 335px;
  border-radius: 4px;
  border: solid 2px black;
  box-shadow: 5px 5px 15px 5px #000000;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.form__button {
  padding: 0;
  border: none;
}

/* .display-none {
  display: none;
} */
