.principalContainer {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 33px 0;
}

.contenedor {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 20px 40px 20px;
  gap: 20px;
  margin: auto;
  max-width: 1200px;
}
